<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
  </head>
  <body>
    <div id="application">
      <a href="/auth/twitch">
        <img src="http://ttv-api.s3.amazonaws.com/assets/connect_dark.png">
      </a>
    </div>
    <!-- SCRIPTS -->
    <script type="text/javascript" src="client.js"></script>
  </body>
</html>  