<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
  </head>
  <body>
    <div id="application">
      <h4>Sorry, bruh!</h4>
      <p>An Error occurrrrrred.</p>
      <p><%= error %></p>
    </div>
    <!-- SCRIPTS -->
    <script type="text/javascript" src="client.js"></script>
  </body>
</html>  