<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
  </head>
  <body>
    <div id="application">

      <ul id="follows">
        <li class="follows-header">
          <span class="user-id">[UserID: <%= userdata.id %>]</span>
          <span class="user-name">[UserName: <%= userdata.username %>]</span>
        </li>
      </ul>

    </div>
    <!-- SCRIPTS -->
    <script type="text/javascript" src="client.js"></script>
  </body>
</html>  