*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 2.0rem;
}

li {
  list-style-type: none;
}

button {
  border-radius: 9px;
  background: rgba(66,66,66, 1.0);
  color: white;
  padding: 4px 8px;
}
button:hover {
  box-shadow: 0 0 1rem rgba(0,125,220, 0.45);
}

span {
  padding: 8px;
}

#application {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ececec, #efefef);

  font-family: 'Tajawal', sans-serif;
}